---
import Divider from "../../components/Divider.astro"
import FlatPanel from "../../components/FlatPanel.astro"
import H1 from "../../components/Typography/H1.astro"
import Layout from "../../layouts/Layout.astro"

const dateOfBirth = new Date("1997-09-16T21:00:00")
---

<Layout title="about">
    <main class="ccontainer">
        <FlatPanel>
            <Divider>
                <H1 slot="before">Personnel File</H1>
            </Divider>

            <section id="about-info" class="mt-4">
                <div
                    class="flex flex-col sm:flex-row-reverse sm:justify-between gap-3"
                >
                    <div
                        class="self-center sm:self-start border-2 border-blue-accent w-full relative max-w-[300px]"
                    >
                        <img src="./avatar2.jpg" />
                        <div class="absolute bottom-0 w-full bg-blue-accent">
                            <p
                                class="font-space font-bold text-xs text-end text-gray-medium"
                            >
                                FILE ID: {
                                    dateOfBirth
                                        .getTime()
                                        .toString()
                                        .slice(0, 10)
                                }
                            </p>
                        </div>
                    </div>
                    <div class="flex flex-col gap-3">
                        <div>
                            <label>name:</label>
                            <p>Lucca Del Debbio</p>
                        </div>
                        <div
                            class="grid grid-cols-2 sm:grid-cols-1 md:grid-cols-2 gap-3"
                        >
                            <div>
                                <label>date of birth:</label>
                                <p>{dateOfBirth.toLocaleDateString()}</p>
                            </div>
                            <div>
                                <label>place of birth:</label>
                                <p>São Paulo, Brazil</p>
                            </div>
                        </div>
                        <div>
                            <label>rank:</label>
                            <p>
                                Web/Game Developer at <a
                                    href="https://hackerrangers.com"
                                    class="font-squada uppercase text-lg whitespace-nowrap"
                                    ><span class="text-hr-blue">HACK3R_</span>
                                    <span class="text-hr-pink">RANGER5</span></a
                                >
                            </p>
                        </div>
                        <div>
                            <label>Qualifications:</label>
                            <p>Bachelor's Degree in Computer Science</p>
                        </div>
                    </div>
                </div>
            </section>
        </FlatPanel>
    </main>
</Layout>

<style>
    label {
        @apply font-nasa text-xs uppercase;
    }
    p {
        @apply font-space;
    }
</style>
