---
// DEPRECATED!

import { getCollection } from "astro:content"

const allPosts = await getCollection("blog")
const tags = Object.entries(
    allPosts
        .map((post) => post.data.tags)
        .flat()
        .sort()
        .reduce((acc: any, tag) => {
            if (acc[tag.slug]) acc[tag.slug] += 1
            else acc[tag.slug] = 1
            return acc
        }, {})
)
---

<div class="flex max-w-full gap-2">
    <div class="left-arrow flex-shrink-0"></div>
    <div class="flex-grow overflow-x-auto cscrollbar">
        <ul class="w-full flex gap-2">
            {
                tags.map(([label, count]) => (
                    <li class=" text-offwhite hover:text-white hover:text-glow-sm-white">
                        <a href={"tags/" + label} class="flex">
                            <p class="bg-blue-desaturated text-blue-accent border-r-2 border-offwhite text-glow-sm-blue-accent min-w-[2.5ch] text-center">
                                {count}
                            </p>
                            <p class="bg-gray-faded">{label}</p>
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
    <div class="right-arrow flex-shrink-0"></div>
</div>

<style>
    p {
        @apply font-nasa p-1 uppercase whitespace-nowrap;
    }

    .cscrollbar::-webkit-scrollbar-track {
        @apply pt-2;
    }

    .cscrollbar::-webkit-scrollbar {
        @apply pt-2;
        height: 8px;
        background-color: theme(colors.gray.medium);
    }

    .cscrollbar::-webkit-scrollbar-thumb {
        @apply pt-2;
        border-radius: 4px;
        background-color: rgba(217, 200, 169, 0.75);
    }

    .left-arrow {
        @apply w-8 my-2 bg-offwhite;
        clip-path: polygon(0 50%, 100% 0, 100% 100%);
    }

    .right-arrow {
        @apply w-8 my-2 bg-offwhite;
        clip-path: polygon(0 0, 0 100%, 100% 50%);
    }
</style>
