---
import { getCollection } from "astro:content"
import Layout from "../../layouts/Layout.astro"
import Card from "../../components/Card.astro"
import TagList from "../../components/TagList/TagList.astro"
const allPosts = await getCollection("blog")
---

<Layout title="Archive">
    <main class="ccontainer flex flex-col gap-8">
        <div class="flex items-center gap-3">
            <h1 class="text-offwhite font-nasa text-3xl">Archive</h1>
            <div class="border-t-2 border-offwhite flex-grow h-1/2"></div>
        </div>

        <TagList />

        <ul role="list" class="link-card-grid">
            {allPosts.map((post) => <Card post={post} />)}
        </ul>
    </main>
</Layout>

<style>
    .link-card-grid {
        @apply grid grid-cols-1 sm:grid-cols-2 gap-8;
    }

    .clip {
        @apply w-10 h-10 absolute bg-black;
    }
</style>
