---
import Layout from "../../layouts/Layout.astro"
import { CollectionEntry, getCollection } from "astro:content"

export interface Props {
    posts: CollectionEntry<"blog">[]
}

export async function getStaticPaths() {
    const tags = await getCollection("tags")
    const blogPosts = await getCollection("blog")
    return tags.map((tag) => ({
        params: { tag: tag.slug },
        props: { posts: blogPosts },
    }))
}

//Ignore merge declaration error, possibly a bug with astro's runtime
const { tag } = Astro.params
const { posts } = Astro.props

const filteredPosts = posts.filter((post) =>
    post.data.tags.find((t) => t.slug == tag)
)
---

<Layout title={tag as string}>
    <p>Posts tagged with {tag}</p>
    {filteredPosts.map((post) => <p>{post.data.title}</p>)}
</Layout>
