---
import Hero from "../components/Hero.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Lucca Del Debbio">
    <div class="relative h-screen">
        <h1
            class="text-white font-bold text-3xl sm:text-6xl font-mono text-center pt-28"
        >
            UNDER MAINTENANCE
        </h1>
        <p class="text-offwhite text-lg sm:text-xl text-center">
            Soon to be a site by:
        </p>
        <div
            class="absolute left-0 top-0 h-screen w-screen flex flex-col justify-center"
        >
            <Hero />
        </div>
    </div>
</Layout>

<style></style>
