---
import EmptyLayout from "../layouts/emptyLayout.astro";
---

<EmptyLayout title="test">
    <h1 class="font-astro">Style Guide</h1>
    <p class="text-5xl">The quick brown fox jumps over the lazy dog</p>
    <p class="text-5xl font-squada">
        The quick brown fox jumps over the lazy dog
    </p>
    <p class="text-5xl font-space">
        The quick brown fox jumps over the lazy dog
    </p>
    <p class="text-5xl font-astro">
        The quick brown fox jumps over the lazy dog
    </p>
    <p class="text-5xl font-skateblade">
        The quick brown fox jumps over the lazy dog
    </p>
</EmptyLayout>
