---
import Avatar from "./Avatar.astro"
---

<header class="text-offwhite pt-6 px-6">
    <div class="flex gap-4 sm:flex-col-reverse justify-between items-center">
        <section id="info-lucca">
            <a href="/dev" class="name-anchor">
                <h2 class="font-display sm:text-center">
                    <span class="firstName">Lucca</span><span class="lastName">
                        Del Debbio</span
                    >
                </h2>
            </a>
            <p
                class="font-body text-sm opacity-80 sm:text-center text-offwhite"
            >
                <i>Developer, Maker and self-identified Crazy Scientist</i>
            </p>
        </section>

        <div class="sm:w-full sm:grid sm:grid-cols-[1fr_190px_1fr]">
            <nav class="half-nav">
                <ul>
                    <li><a href="/dev">Home</a></li>
                    <li><a href="/archive">Archive</a></li>
                </ul>
            </nav>
            <Avatar size={80} src="/avatar2.jpg" />
            <nav class="half-nav">
                <ul>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <nav class="full-nav">
        <ul>
            <li><a href="/dev">Home</a></li>
            <li><a href="/archive">Archive</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>
<style>
    nav a:hover {
        @apply underline text-blue-accent text-glow-sm-blue-accent;
    }
    .name-anchor:hover span {
        @apply underline;
    }

    h2 .firstName {
        @apply text-blue-accent text-glow-sm-blue-accent decoration-blue-accent;
    }

    h2 .lastName {
        @apply text-glow-sm-white text-white;
    }

    /* This is the same as the content-container,
       but I left it as a separate class in case I want to
       use different widths for the header and the rest of the content */
    header {
        margin: auto;
        max-width: 100ch;
    }

    .full-nav ul {
        @apply sm:hidden flex justify-evenly border-offwhite border-t-2 border-b-2 py-2 mt-4;
    }

    .half-nav {
        @apply flex flex-col justify-center;
    }

    .half-nav ul {
        @apply hidden sm:flex sm:justify-evenly sm:items-center h-3/4 border-offwhite border-t-2 border-b-2;
    }
</style>
