<footer>
    <div
        class="ccontainer h-12 text-white flex flex-col justify-center items-center"
    >
        <p>Copyright© Debbio Industries</p>
    </div>
</footer>
<style>
    footer {
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }
</style>
