<footer>
    <div class="custom-container text-white text-center">
        Copyright© Debbio Industries
    </div>
</footer>
<style>
    footer {
        background-color: #171723;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }
</style>
