<footer>
    <div class="custom-container py-3 text-white text-center">
        Copyright© Debbio Industries
    </div>
</footer>
<style>
    footer {
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }
</style>
