<h2 class="font-astro text-base">
    <a href="/dev" class="hover:*:underline">
        <span
            class="text-blue-accent text-glow-sm-blue-accent decoration-blue-accent"
            >LUCCA</span
        ><span class="text-white text-glow-sm-white"> DEL DEBBIO</span>
    </a>
</h2>
