.container-card {
    container-type: inline-size;
    container-name: card;
}

.card-content-wrapper {
    @apply flex flex-col m-3 gap-3;
}

@container (min-width: 570px) {
    .card-content-wrapper {
        @apply !flex-row h-56;
    }

    .card-content-wrapper img {
        @apply w-auto;
    }
}

.card-content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
