---
import Header from "../components/Header/Header.astro"
import Footer from "../components/Footer.astro"
export interface Props {
    title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <div class="pb-20">
            <Header />
            <slot />
        </div>
        <Footer />
    </body>
</html>
<style is:global>
    /* Register your custom font family and tell the browser where to find it. */
    @font-face {
        font-family: Astro;
        src: url("/fonts/Astro.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: Quicksand;
        src: url("/fonts/Quicksand.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: Nasalization;
        src: url("/fonts/Nasalization.otf") format("opentype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    :root {
    }

    body::after {
        content: "";
        background-image: url("/stardust.png");
        opacity: 0.4;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }
    body {
        background-image: linear-gradient(
            to right,
            theme("colors.gray.dark"),
            theme("colors.gray.medium") 45% 55%,
            theme("colors.gray.dark")
        );

        min-height: 100vh;
        font-family: "Quicksand";
        position: relative;
    }

    .ccontainer {
        @apply m-auto p-6 max-w-[80ch];
    }

    main {
        @apply bg-gray-medium rounded-lg shadow-lg shadow-gray-darkest;
    }

    code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
            DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }
</style>
