---
import Layout from "../../layouts/Layout.astro"
import Card from "../../components/Card.astro"
import { getCollection } from "astro:content"
let allPosts = await getCollection("blog")
const heroPost = allPosts[0]
allPosts = allPosts.slice(1, 4)
---

<Layout title="Home">
    <main class="ccontainer mflat-panel">
        <section id="latest-post">
            <h2 class="text-offwhite">Latest post</h2>
            {
                heroPost && (
                    <div class="hero-post">
                        <Card post={heroPost} />
                    </div>
                )
            }
        </section>

        <div class="w-full border-t-2 border-offwhite mt-8 mb-6 opacity-50">
        </div>

        <section id="recent-posts" class="pb-8">
            <h2 class="text-offwhite">Recent posts</h2>
            <ul role="list" class="link-card-grid">
                {allPosts.map((post) => <Card post={post} />)}
            </ul>
        </section>

        <a
            href={"/archive"}
            class="text-gray-medium bg-blue-accent font-nasa py-2 w-full block text-center hover:text-white"
            >Browse all posts</a
        >
    </main>
</Layout>

<style>
    .link-card-grid {
        @apply grid grid-cols-1 sm:grid-cols-2 gap-8;
    }
</style>
