---
import Layout from "../../layouts/Layout.astro"
import Card from "../../components/Card/Card"
import { getCollection } from "astro:content"
import FlatPanel from "../../components/FlatPanel.astro"
import Divider from "../../components/Divider.astro"
import H1 from "../../components/Typography/H1.astro"
let allPosts = await getCollection("blog")
const heroPost = allPosts[0]
allPosts = allPosts.slice(1, 4)
---

<Layout title="Home">
    <main class="ccontainer">
        <FlatPanel>
            <section id="latest-post" class="flex flex-col gap-2">
                <Divider>
                    <H1 slot="before">Latest post</H1>
                </Divider>
                {
                    heroPost && (
                        <div class="hero-post">
                            <Card post={heroPost} />
                        </div>
                    )
                }
            </section>

            <div class="w-full border-t-2 border-offwhite mt-8 mb-6 opacity-50">
            </div>

            <section id="recent-posts" class="pb-8">
                <h2 class="text-offwhite">Recent posts</h2>
                <ul role="list" class="link-card-grid">
                    {allPosts.map((post) => <Card post={post} />)}
                </ul>
            </section>

            <a
                href={"/archive"}
                class="text-gray-medium bg-blue-accent font-nasa py-2 w-full block text-center hover:text-white"
                >Browse all posts</a
            >
        </FlatPanel>
    </main>
</Layout>

<style>
    .link-card-grid {
        @apply grid grid-cols-1 sm:grid-cols-2 gap-8;
    }
</style>
