---
import Hero from "../components/Hero.astro"
import Empty from "../layouts/Empty.astro"
---

<Empty title="Lucca Del Debbio">
    <div class="h-screen w-screen flex flex-col justify-center">
        <h1
            class="text-white font-bold text-3xl sm:text-6xl font-mono text-center"
        >
            UNDER MAINTENANCE
        </h1>
        <p class="text-offwhite text-lg sm:text-xl text-center mb-8">
            Soon to be a site by:
        </p>
        <Hero />
    </div>
</Empty>

<style></style>
